*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
packages/
riderModule.iml
_ReSharper.Caches/

*.userprefs
mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/

Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/

# 忽略两个链接文件
/GPCSClientLib/
/PicoammeterCtlrLib/

# 忽略diss6的日志
/AppData/diss6/logs