[submodule "SEM_UI"]
	path = SEM_UI
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI.git
	branch = master
[submodule "SEM_UI_CtrlEx"]
	path = SEM_UI_CtrlEx
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_CtrlEx.git
	branch = master
[submodule "SEM_UI_SystemMessageWindow"]
	path = SEM_UI_SystemMessageWindow
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_SystemMessageWindow.git
	branch = master
[submodule "SEM_UI_MenuBar"]
	path = SEM_UI_MenuBar
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_MenuBar.git
	branch = master
[submodule "SEM_UI_JoyStick"]
	path = SEM_UI_JoyStick
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_JoyStick.git
	branch = master
[submodule "SEM_UI_DataBar"]
	path = SEM_UI_DataBar
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_DataBar.git
	branch = master
[submodule "SEM_UI_SettingWindows"]
	path = SEM_UI_SettingWindows
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_SettingWindows.git
	branch = master
[submodule "SEM_UI_StateBar"]
	path = SEM_UI_StateBar
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_StateBar.git
	branch = master
[submodule "SEM_UI_ShortCutBar"]
	path = SEM_UI_ShortCutBar
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_ShortCutBar.git
	branch = master
[submodule "SEM_UI_AnnotationBar"]
	path = SEM_UI_AnnotationBar
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_AnnotationBar.git
	branch = master
[submodule "SEM_UI_UserPreConfig"]
	path = SEM_UI_UserPreConfig
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_UserPreConfig.git
	branch = master
[submodule "SEM_UI_ToolBar"]
	path = SEM_UI_ToolBar
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_ToolBar.git
	branch = master
[submodule "SEM_UI_CtrlPanel"]
	path = SEM_UI_CtrlPanel
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_CtrlPanel.git
	branch = master
[submodule "SEM_UI_Recipe"]
	path = SEM_UI_Recipe
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_Recipe.git
	branch = master
[submodule "SEM_UI_Viewer"]
	path = SEM_UI_Viewer
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_Viewer.git
	branch = master
[submodule "SEM_UI_CCDViewer"]
	path = SEM_UI_CCDViewer
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_CCDViewer.git
	branch = master
[submodule "KnobPanelLib"]
	path = KnobPanelLib
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/KnobPanelLib.git
	branch = master
[submodule "SEM_UI_KnobPanel"]
	path = SEM_UI_KnobPanel
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_KnobPanel.git
	branch = master
[submodule "ImageGraphics"]
	path = ImageGraphics
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/ImageGraphics.git
	branch = master
[submodule "ImageDocument"]
	path = ImageDocument
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/ImageDocument.git
	branch = master
[submodule "SEM_UI_Resolution"]
	path = SEM_UI_Resolution
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_Resolution.git
	branch = master
[submodule "SEM_UI_Plasma"]
	path = SEM_UI_Plasma
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_Plasma.git
	branch = master
[submodule "SEM_UI_PicoammeterCtrlLib"]
	path = SEM_UI_PicoammeterCtrlLib
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_PicoammeterCtrlLib.git
	branch = master
[submodule "SEM_UI_SerialPort"]
	path = SEM_UI_SerialPort
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_UI/SEM_UI_SerialPort.git
	branch = master
[submodule "GPCSCommon"]
	path = GPCSCommon
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_Server/GPCSCommon.git
	branch = master
[submodule "DebugLogger"]
	path = DebugLogger
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_Server/DebugLogger.git
	branch = master
[submodule "ClientLib"]
	path = ClientLib
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_Server/ClientLib.git
	branch = master
[submodule "ImageLib"]
	path = ImageLib
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_Server/ImageLib.git
	branch = master
[submodule "UDPClient"]
	path = UDPClient
	url = ssh://yidontekSW@192.168.3.130/volume1/GitRepo/SEMPro/SEM_Server/UDPClient.git
	branch = master
